<div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>The goal of the app is to provide an all-in- one place to order food online. Instead of being forced to browse through multiple websites to order food, customers can visit one website for their food-based needs.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Simplified Menu</h2>
          <p> Don't you hate it when you can't read the menus? Well, that restaurant won't be us! </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Customization</h2>
          <p>Order from multiple restaurants. Coke from KFC? Fried chicken from Popeyes? Animal fries from In and Out? No problem, WE GOT YA!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>No Tipping</h2>
          <p>CAN'T YOU BELIEVE IT? NEITHER DO I!!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 TBA, Inc.</p>
      </footer>
    </div> <!-- /container -->